@font-face {font-family: Digital; src: url("digital-7.ttf"); }

html{
    max-height: none;
   }

body{
    background-image: url("../images/train.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

  .navBer{
    background-color: #ff851b;
  }

  .navbar-brand{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
  }
  .navbar-brand2{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
  }
  .navbar-nav{
    float: right;
  }

  .nuTitle{
    font-size: 20px;
    font-weight: bold;
  }

  .nuTitle2{
    font-size: 14px;
    font-weight: bold;
  }

.container{
    margin-top: 70px;
  }

#high-temp{
  padding-left: 8px;
  padding-right: 8px;
}

#low-temp{
  padding-left: 8px;
  padding-right: 8px;
}

#map-canvas{
  min-height: 100px;
  min-width: 100px;
}

.pnl{
  background-color: #fde9d6;
}

#current-time{
  font-family: Digital;
  font-size: 35px;
  color: #2d862d;
}   